Your submission was successful!
Course: CSIS-3375-001_15504_202510, UX Design in Web & Mobile App
Assessment: RequirementsDocument Submission (one JOINT submission by team lead)

Submission date: 3/14/25, 3:45 PM
Submission size: 4.4 MB
Submitter: Tim Nguyen
Confirmation number: b62aa06cf3e3410f8f6b54edc7202b4c